@import url('./bootstrap.css');
$border-color: rgba(46, 91, 255, 0.08);
$caption-color:#8798AD;
$body-color:#2e384d;

body,
html,
section,
.container .side-nav,
.listview {
    height: 100%;
}

a,
a:hover {
    text-decoration: none;
}

.side-nav {
    display: flex;
    padding: 0;
}

.checked {
    color: orange;
}

.open-hours {
    li {
        margin-bottom: 8px;
    }
}

.map {
    background-image: url('./assets/img/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.master-detail {
    padding: 0;
    overflow-y: scroll;
}


.listview {
    border-radius: none !important;
    background: white;
    flex-basis: 380px;
    flex-shrink: 0;
    overflow-y: scroll;
}

.list-item {
    padding: 24px;
    display: flex;
    background: white;
    border-bottom: 1px solid $border-color;


    img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
        border-radius: 4px;
    }

    &:hover {
        background: $border-color;
    }
}

.image-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;

    img {
        margin-top: 8px;
        vertical-align: middle;
    }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.button-text {
    path {
        fill: var(--primary);
    }

    span {
        color: var(--primary);
    }

    &:hover {
        background: rgba($color: var(--primary), $alpha: 1)
    }
}

.review {
    img {
        width: 64px;
        height: 64px;
    }
}