@import url('./bootstrap.css');

body,
html,
section,
.container,
.row,
.side-nav {
    height: 100vh;
}

.side-nav {
    background: rgb(201, 55, 11);
    padding: 0;
}

.master-detail {
    background: rgb(129, 0, 189);
    padding: 0;
}