@charset "UTF-8";
@import url("./bootstrap.css");
/* Footer */
.liFooter {
  display: list-item;
  list-style: none; }

/* Actualité */
.quiContient {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.Macarte{
  border: 2px solid #cbcbcb;
  text-align: justify;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  width:300px;
  heigth:669px;
  overflow: hidden;
}
.text1{
  padding-top: 7%;
  padding-left: 8%;
  padding-right: 0%;
  max-width: 90%;
  text-align: justify;
  height: auto;
  word-wrap: break-word; }
