/*************************************************Acceuil ****************************************************/
/* Footer */
.liFooter{
  display: list-item;
  list-style: none;
}


/* Actualité */
.quiContient{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.Macarte{
  border: 2px solid grey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
  width:300px;
}
.text1{
  padding:2%;
  max-width: 90%;
  text-align: left;
  height: auto;
  word-wrap: break-word;

}
